# activer les tests online
ONLINE_TESTS_ENABLE=true
# URL de l’API à tester
BACKEND_BASE_URL=http://localhost:3000

# compte provider de test (sera auto créé si absent)
TEST_PROVIDER_EMAIL=provider.test@example.com
TEST_PROVIDER_PASSWORD=Change_me_123!

# Stripe (mode TEST)
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_checkout_xxx

# Stripe Identity (KYC – mode TEST)
STRIPE_IDENTITY_WEBHOOK_SECRET=whsec_identity_xxx
