# Registre principal
registry=https://registry.npmjs.org/

# Forcer Prisma sur le registre officiel
@prisma:registry=https://registry.npmjs.org/

# Évite les re-downloads
prefer-offline=true
fund=false
audit=false

# Alternative mirror (à activer SEULEMENT si npmjs.org est bloqué)
; registry=https://registry.npmmirror.com/
; @prisma:registry=https://registry.npmjs.org/
